@import "../../styles/utilities";

.header {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-inline: 1em;
  background-color: #fefefe;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 10px;

  button {
    margin-right: auto;
  }

  svg {
    color: $darkpurple;
  }

  a {
    margin-right: 2em;
    position: absolute;
    right: 0;
  }
}

.header-parentname {
  &::before {
    content: "";
    width: 60px;
    aspect-ratio: 1;
    background: center/ cover no-repeat url("../../assets/parentpp.png");
    border: 2px solid gray;
    border-radius: 100%;
    left: 25px;
    bottom: 10px;
    position: absolute;
  }
}

.goback-btn {
  margin-left: 2em;
  position: absolute;
  left: 0;
}
