@import "../../styles/utilities";

.layout-container {
  @include flexboxColumn;
  width: 100vw;
  height: 100vh;
  background: $linearGradient;
}

.layoutform {
  @include flexboxColumn;
  gap: 1.5rem;

  button {
    padding: 1.25em 4.75em;
    background-color: $purple;
    border-radius: 5px;
  }

  input {
    padding: 1.25em 1em;
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 5px;

    &::placeholder {
      color: $white;
    }
  }

  small {
    font-weight: $fontWeight-thin;
  }

  a {
    color: $white;
  }
}
